.flex-center-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-between-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

body {
  min-height: 100vh;
}

.starter {
  gap: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.placeholder-image {
  max-width: 20rem;
}

.starter p {
  font-size: 1.7rem;
  max-width: 70%;
  line-height: 2.3rem;
  letter-spacing: 0.1ch;
  color: var(--font-sub);
}

.error {
  margin-top: 4rem;
  text-align: center;
}

.error p {
  margin-top: 2rem;
  font-size: 3.8rem;
  color: var(--font-sub);
  font-weight: 500;
  max-width: 100%;
}

.error img {
  max-width: 17rem;
}
.word-form {
  position: fixed;
  bottom: 3.5rem;
  right: 3.5rem;
}

.word-form button {
  border: none;
  outline: none;
  padding: 1.2rem;
  box-shadow: 0rem 0.1rem 0.9rem 0.2rem var(--bg-sub);
}

.word-form button img {
  max-width: 3rem;
}

.word-form button:active {
  transform: scale(1);
}

.word-form input {
  outline: none;
  border: none;
  padding: 1.2rem;
  font-size: 1.6rem;
  letter-spacing: 0.1ch;
  font-family: "Imprima";
  border-top-left-radius: 1.3rem;
  border-bottom-left-radius: 1.3rem;
  margin-right: -3rem;
  width: 0ch;
  box-shadow: 0rem 0.1rem 0.9rem 0.2rem var(--bg-sub);
}

.word-form:hover input {
  width: 22ch;
}

.word-form input::placeholder {
  color: var(--font-sub);
}

.dashboard footer .footer-div {
  background-color: var(--bg-sub);
}

@media (max-width: 550px) {
  .starter {
    margin-top: 4rem;
  }

  .starter p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .placeholder-image {
    max-width: 12rem;
  }

  .error {
    margin-top: 5rem;
  }

  .error p {
    font-size: 2.5rem;
    margin-top: 1.3rem;
  }

  .word-form input {
    width: 17ch;
  }

  .word-form:hover input {
    width: 17ch;
  }
}

@media (max-width: 400px) {
  .word-form {
    bottom: 2rem;
    right: 2rem;
  }

  .word-form button {
    padding: 1rem;
  }

  .error img {
    max-width: 10rem;
  }

  .error p {
    font-size: 2.1rem;
  }
}
