.flex-left-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.flex-between-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.word-container {
  border-radius: 3rem;
  padding: 2rem;
  max-width: 75%;
  margin: 4rem auto;
  margin-bottom: 0;
}

.word-container .basic-info {
  width: 100%;
}

.word-container .word-info {
  margin-top: 0.7rem;
  margin-left: 0.8rem;
}

.word-container .basic-info p:first-child {
  font-size: 5rem;
  margin-left: 0.5rem;
}

.word-container .basic-info p:last-child {
  font-size: 2.2rem;
  margin-left: 0.8rem;
  color: var(--font-sub);
}

.word-container .basic-info button {
  margin-top: -2rem;
  margin-right: 0.5rem;
}

.word-container .definitions .partofspeech-container:first-child .header {
  margin-top: 0rem;
}
.word-container .definitions .partofspeech-container .header {
  margin-top: -2.5rem;
}

.synonyms {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  max-width: 70vw;
}

.synonyms span {
  margin: 0.5rem;
}

@media (max-width: 550px) {
  .word-container {
    padding: 1.5rem;
    padding-left: 1.2rem;
  }

  .basic-info .word-info {
    margin: 0.5rem 0 0 0.5rem;
  }

  .basic-info .word-info p:first-child {
    font-size: 3.8rem;
    margin-left: 0.5rem;
  }

  .basic-info .word-info p:last-child {
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  .word-container .basic-info button {
    padding: 0.5rem;
  }

  .word-container .basic-info button img {
    max-width: 2.5rem;
  }
}

@media (max-width: 400px) {
  .word-container {
    margin-top: 3rem;
  }

  .basic-info .word-info {
    margin: 0.3rem 0 0 0.1rem;
  }

  .basic-info .word-info p:first-child {
    font-size: 3.1rem;
  }

  .basic-info .word-info p:last-child {
    font-size: 1.6rem;
  }

  .word-container .basic-info button {
    padding: 0.5rem;
    margin: -0.5rem 0.5rem 0 0;
  }
}
