.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column nowrap;
}

.footer-div {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: var(--bg-dark);
  width: 100%;
}

.logo {
  font-size: 6rem;
  color: var(--font-light);
  letter-spacing: 0.08rem;
  margin: 4rem;
}

.contents {
  align-self: flex-start;
  gap: 1.5rem;
  margin: 4rem;
}

.contents p {
  color: var(--font-sub);
  font-size: 1.3rem;
}

.link-container {
  gap: 1.5rem;
}

.link-box {
  background-color: var(--bg-light);
  border-radius: 1rem;
  padding: 0.8rem;
}

.link-box img {
  max-width: 3.5rem;
}

@media (max-width: 700px) {
  .footer-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .logo {
    font-size: 5rem;
    margin: 2rem 0rem 0rem 2.5rem;
  }

  .contents {
    align-items: flex-start;
    margin: 1rem 0rem 2rem 2.5rem;
  }
}
